.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/
NH_COVID.Rproj
Code/NH_COVID/.gama.epf
Code/NH_COVID/.metadata/
Code/NH_COVID/NH_COVID/includes/
Code/NH_COVID/NH_COVID/models/results/
Documentation/References/
Documentation/Figures/FloorPlans.qgz

