# if having problems with files that should be ignored but already in the repo use:
# git rm -r --cached .
# git add .

.Rproj.user
.Rhistory
.RData
.Ruserdata

# Data
Data/

# Documentation
Documentation

# R Code
Code/R/misc/

## GAMA stuff
Code/NH_COVID/.cache/
Code/NH_COVID/.metadata/
Code/NH_COVID/externals/
Code/GAMA_NHCOVID
Code/GAMA_NHCOVID/NH_COVID/models/GSA/
Code/GAMA_NHCOVID/NH_COVID/models/results/


Code/GAMA_NHCOVID/.cache/
Code/GAMA_NHCOVID/.metadata/
Code/GAMA_NHCOVID/.gama.epf
Code/GAMA_NHCOVID/.gama_application_workspace
Code/GAMA_NHCOVID/.built_in_models_1597176163533


Documentation/misc/